.container-navbar {
    background-color: #dfdfdf;
}

.learning-object {
    background-color: #dfdfdf;
}

.Implementation {
    background-color: #dfdfdf;
}

.Testing {
    background-color: #dfdfdf;
}

.Documentation {
    background-color: #dfdfdf;
}